@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.japanese-render {
	font-family: "Noto Sans JP", sans-serif !important;
	font-optical-sizing: auto !important;
	font-weight: 10px !important;
	font-style: normal !important;
}

/* Tous les caractères japonais */
.markdown-preview-view {
	font-family: "Noto Sans JP", sans-serif !important;
	font-optical-sizing: auto !important;
	font-weight: 10px !important;
	font-style: normal !important;
}

.markdown-preview-view span,
.markdown-preview-view p,
.markdown-preview-view li {
	font-family: "Noto Sans JP", sans-serif !important;
	font-optical-sizing: auto !important;
	font-weight: 10px !important;
	font-style: normal !important;
}
